@import '../scss/screen.scss';

@mixin slabGenerators {
	@for $i from 0 to 9 {
		&--#{$i} {
			top: #{160 + (32 * $i)}px;

			@if $i == 8 {
				height: 32px;
			}
		}
	}
}

.art {
	width: 100%;
	height: #{160 + 288}px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	position: relative;
	margin-bottom: 3rem;

	&__circle {
		position: relative;
		width: 320px;
		height: 320px;
		border-radius: 100%;
		background: linear-gradient(
			180deg,
			#ffcf55 0%,
			#ff5b79 49.98%,
			#ac31d8 100%
		);
		z-index: 0;

		&::before {
			content: '';
			position: absolute;
			width: 360px;
			height: 360px;
			left: -20px;
			top: -20px;

			background: linear-gradient(
				180deg,
				rgba(255, 207, 85, 0.3) 0%,
				rgba(255, 91, 121, 0.3) 48.44%,
				rgba(172, 49, 216, 0.3) 100%
			);
			filter: blur(96px);
		}
	}

	&__slab {
		position: absolute;
		left: 0;
		width: 100%;
		height: 64px;
		background: rgba(16, 11, 38, 0.2);
		backdrop-filter: blur(64px);

		@include slabGenerators;
	}

	@media only screen and (min-width: $screen-sm) {
		margin-bottom: 6rem;
	}
}
