$twilight: #100b26;
$font-hue: #948eb2;
$header-hue: #ebebf5;

// Tags
$tag-red-fg: #ff5b79;
$tag-red-bg: rgba(255, 91, 121, 0.15);

$tag-orange-fg: rgba(255, 126, 85, 1);
$tag-orange-bg: rgba(255, 126, 85, 0.15);

$tag-yellow-fg: #ffcf55;
$tag-yellow-bg: rgba(255, 207, 85, 0.15);

$tag-green-fg: #5bff9d;
$tag-green-bg: rgba(91, 255, 157, 0.15);

$tag-blue-fg: #5b93ff;
$tag-blue-bg: rgba(91, 147, 255, 0.15);

$tag-purple-fg: #ac31d8;
$tag-purple-bg: rgba(172, 49, 216, 0.15);

$tag-pink-fg: #ff5bbd;
$tag-pink-bg: rgba(255, 91, 189, 0.15);

$tag-white-fg: #ebebf5;
$tag-white-bg: rgba(235, 235, 245, 0.15);

$tag-default-fg: $font-hue;
$tag-default-bg: rgba(148, 142, 178, 0.15);
