@import './colors.scss';

.connect {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	list-style-type: none;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;

	&__item {
		width: 2rem;
		height: 2rem;
		border-radius: 0.5rem;
		margin-left: 1.5rem;

		&:first-child {
			margin-left: 0;
		}
	}

	&__svg {
		width: 32px;
		height: 32px;
	}
}
