@import './colors.scss';

.hero {
	margin-bottom: 6rem;
	overflow: hidden;

	&__text {
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	&__h1 {
		text-align: center;
		margin: 0 auto;
		margin-bottom: 4rem;
	}

	&__shallow {
		color: $tag-default-fg;
	}

	&__connect {
		margin-bottom: 6rem;
	}
}
