@import './colors.scss';

.tag {
	height: 32px;
	line-height: 32px;
	padding: 0 12px;
	border-radius: 1rem;
	display: inline-block;

	&--type {
		&-red {
			color: $tag-red-fg;
			background-color: $tag-red-bg;
		}

		&-green {
			color: $tag-green-fg;
			background-color: $tag-green-bg;
		}

		&-orange {
			color: $tag-orange-fg;
			background-color: $tag-orange-bg;
		}

		&-yellow {
			color: $tag-yellow-fg;
			background-color: $tag-yellow-bg;
		}

		&-blue {
			color: $tag-blue-fg;
			background-color: $tag-blue-bg;
		}

		&-purple {
			color: $tag-purple-fg;
			background-color: $tag-purple-bg;
		}

		&-pink {
			color: $tag-pink-fg;
			background-color: $tag-pink-bg;
		}

		&-white {
			color: $tag-white-fg;
			background-color: $tag-white-bg;
		}

		&-default {
			color: $tag-default-fg;
			background-color: $tag-default-bg;
		}
	}
}
